<div class="footer">
  <div class="footer-links text-center">
    <a href="#"><i class="fab fa-instagram fa-2x text-black-50"></i></a>
    <a href="#"><i class="fab fa-facebook fa-2x text-black-50"></i></a>
    <a href="#"><i class="fab fa-twitter fa-2x text-black-50"></i></a>
  </div>
  <div class="footer-copyright text-center">
   <i class="fas fa-heart"></i>  ça c'est pas un footer fait avec les pieds <i class="fas fa-heart"></i>
  </div>
</div>
