<div class="footer">
  <div class="footer-links text-center">
    <a href="https://www.youtube.com/watch?v=GEl8xWJ-CF0"><i class="fab fa-instagram fa-2x text-black-50"></i></a>
    <a href="https://www.youtube.com/watch?v=SdL0CsZLieo"><i class="fab fa-facebook fa-2x text-black-50"></i></a>
    <a href="https://www.youtube.com/watch?v=SKEiyRrQN0o"><i class="fab fa-twitter fa-2x text-black-50"></i></a>
  </div>
  <div class="footer-copyright text-center">
   <i class="fas fa-heart"></i>  This is not a footer made <em>avec les pieds</em>. <i class="fas fa-heart"></i>
  </div>
</div>

