

.current-user-card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 16px;

}

.card-user-avatar {
border-radius: 50%;
width: 15vh;
height: 15vh;

}

.bookings-list {


}
