<div>
  <%user.courgettes.each do |courgette| %>
  <p style="margin-top: 10px"><strong><%= courgette.name %></strong></p>
  <%= image_tag courgette.photo, class: "map-picture" %>
  <p><%= user.address %></p>
  <%= link_to 'More', courgette_path(courgette), class: "map-button" %>
  <%end %>
</div>
